html {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    font-size: 1.4rem;
    color: white;
  }
  
  header {
    max-width: 90%;
    margin: 0 auto;
    position : sticky;
    top : 0;
    color: black;
    border: 1px solid black;
    
  }
 
  .menu {
   
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
   
    /* right : 5%; */
    background-color: white;
  }
  li:hover{
    background-color: black;
    
  }
  
  li {
    border-right: 1px solid black;
    padding: 1rem;
  }
  a{
    /* background-color: yellow; */
    padding : 2rem; /* padding added */
  }
 
  
  
  .hero {
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgb(136, 203, 171) 0%, rgb(0, 13, 60) 100%);
    padding: 10rem;
  }
  .hero h1 {
    font-size: 5rem;
  }

  section {
    max-width: 90%;
    margin: 0 auto;
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgb(136, 203, 171) 0%, rgb(0, 13, 60) 100%);
    padding: 1rem;
    height: 100vh;
    
  }
  .wrapper-1,.wrapper-3{
  
    width : 70%;
    padding : 2rem;
    
  }
  .wrapper-2,.wrapper-4{
   
    width : 70%;
    padding : 2rem;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  
  }
  p{
    font-size: 2rem;
  }
  /* .section-1,.section-3{
    
  }
  .section-2,.section-4{
   
 
  } */
  h2 {
    font-size: 3rem;
    border-bottom: 1px solid gold;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /* .active{
    background-color: black;
    color : white;
} */
  

@media (max-width : 1684px) {
  .wrapper-1,.wrapper-3{
   
    width : 70%;
    padding : 2rem;
    
  }
  .wrapper-2,.wrapper-4{
   
    width : 70%;
    padding : 2rem;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  
  }
  p{
    font-size: 1.8rem;
  }
}
@media (max-width : 868px){
  .wrapper-1,.wrapper-3{
   
    width : 70%;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
  }
  .wrapper-2,.wrapper-4{
    
    width : 70%;
    padding :  2rem;
    text-align: center;
   
    margin-left: 50%;
    transform : translateX(-50%);

  
  }
  p{
    font-size: 1.5rem;
  }
}
@media (max-width : 680px) {
  .hero-wrapper h1{
    font-size: 2rem;
  }
  .wrapper-1,.wrapper-3{
   
    width : 100%;
    text-align: center;
    padding : 0 1rem;
  }
  .wrapper-2,.wrapper-4{
    
    width : 100%;
    padding : 0 1rem;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
  
  }
  p{
    font-size: 1.2rem;
  }
}
@media (max-width : 487px){
  .hero-wrapper h1{
    font-size: 1.5rem;
    
  }
  .wrapper-1,.wrapper-3{
    
    width : 100%;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
    
  }
  .wrapper-2,.wrapper-4{
    
    width : 100%;
    padding : 2rem;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
  
  }
  p{
    font-size: 1rem;
  }
}
@media (max-height : 600px){
  
  p{
    font-size: 1.2rem;
  }
}
@media(max-height : 677px){
  .wrapper-1,.wrapper-3{
  
    width : 100%;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
    
  }
  .wrapper-2,.wrapper-4{
    width : 100%;
    padding : 0rem;
    text-align: center;
    margin-left: 50%;
    transform : translateX(-50%);
  
  }
  p{
    font-size: 1rem;
  }
}
@media (max-width : 684px){
  .menu{
    flex-wrap: wrap; /*helping responsiveness with flex wrap...*/
  }
  li{
    padding : 0;
  }
}