section{
    
    max-width : 90%;
    margin : 0 auto;
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
   
    padding : 1rem;
    height : 100vh;
   
   
}
.section-one,.section-three{
    // border: 1px solid blue;
    width : 50%;
    margin-right: auto;
    margin-top: 10rem;
    margin-left: 0;
    padding : 2rem;
}
.section-two,.section-four{
    // border: 1px solid blue;
    width : 50%;
    margin-right: 0;
    margin-top: 10rem;
    margin-left: auto;
    padding : 2rem;
    text-align: right;
}



h2{
    
    border-bottom : 1px solid gold;
    margin-top: 2rem;
    margin-bottom: 2rem;
   
}
.right-align{
    text-align: right;
}